$white: #fff;
$text: #6e6e6e;

$grey-light: #fbfbfb;
$grey-dark: #b2b2b2;

$primary-dark: #4d4c72;
$primary: #7477bf;
$primary-light: #7377bf;

// green
$secondary: #81c98f;

// blue
$tertiary: #74b1bf;
