html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// TEMPORARY SIZE STYLES
.header,
.sidebar,
.main > * {
  border: 1px solid $grey-dark;
}
