// MOBILE FIRST
.container {
  background-color: $grey-dark;
  width: 100%;
  height: 100%;
}

.grid-container {
  margin: 0 auto;
  max-width: 2732px; // 1366 * 2 = 2732px (so minimum not broken on retina displays)
  background-color: $white;

  display: grid;
  grid-template-columns: [main-start] 1fr [main-end];

  @media only screen and (min-width: $tablet) {
    grid-template-columns: [main-start] 1fr [main-middle] 1fr [main-end];
  }

  @media only screen and (min-width: $desktop) {
    grid-template-columns: min-content [main-start] 1fr [main-middle] 1fr [main-end];
  }
}
