.alert {
  @media only screen and (min-width: $tablet) {
    grid-column: 1 / -1;
  }

  margin: 2rem $gap;
  padding: 0.5rem;
  border-radius: 5px;

  background-color: $primary;
  color: $white;
  font-size: 0.8rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__close {
    font-weight: 700;
    font-size: 1rem;
    padding: 0 0.5rem;
    margin-left: 0.5rem;

    cursor: pointer;
  }
}
