.btn {
  font-family: inherit;
  border: 1px solid $grey-dark;
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
}

.switch {
  width: 70%;
  max-width: 450px;

  display: flex;
  flex-direction: column;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__text {
    margin-right: 10px;
  }

  &__button {
    position: relative;
    cursor: pointer;
    width: 80px;
    height: 32px;
    border: 1px solid $grey-dark;
    border-radius: 34px;
    background-color: $grey-dark;
    transition: 0.4s;
  }

  &__button::before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    border: 1px solid $grey-dark;
    border-radius: 50%;
    background-color: $white;
    transition: 0.4s;
  }

  &__input:checked + &__label &__button {
    background-color: $primary;
  }

  &__input:checked + &__label &__button::before {
    transform: translateX(47px);
  }

  &__button::after {
    position: absolute;
    content: 'ON';
    left: 10px;
    bottom: 6px;
    color: $white;
    font-size: 14px;
    opacity: 0;
    transform: translateX(-47px);
    transition: 0.4s;
  }

  &__input:checked + &__label &__button::after {
    opacity: 1;
    transform: translateX(0);
  }
}

.drop-down {
  padding: 0.5rem;
  color: $grey-dark;
  background-color: $grey-light;
  border: 1px solid $grey-dark;
  border-radius: 5px;
}
