.member {
  display: flex;
  align-items: center;

  padding-bottom: 0.8rem;
  font-size: 0.8rem;

  @media only screen and (min-width: $mobile) {
    font-size: 0.9rem;
  }

  @media only screen and (min-width: $tablet) {
    font-size: 0.6rem;
  }

  &__photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin-right: 0.5rem;
  }

  &__info {
    flex: 1;
  }

  &__name {
    margin-bottom: -3px;
  }

  &:not(:first-child) {
    padding-top: 0.8rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $grey-dark;
  }

  /*************************************
    Optional Elements
  *************************************/

  &__email:link,
  &__email:visited {
    color: $primary;
    text-decoration: none;
  }

  &__arrow {
    font-size: 1.8rem;
    color: $grey-dark;
    font-weight: 300;
    line-height: 0.8;
  }
}
