.chart-container {
  position: relative;
}

.bar-chart,
.donut-chart,
.line-chart {
  padding: 1rem $gap;
}

.bar-chart,
.donut-chart {
  border-bottom: $border-style;
}

.bar-chart__chart {
  margin: 10px auto;
  margin-top: 20px;
}

.donut-chart__chart {
  margin: 20px auto;
}

.line-chart {
  border-bottom: 1px solid $grey-dark;

  &__chart {
    margin: 10px auto;
    margin-top: 20px;
  }

  &__time-options {
    list-style: none;
    font-size: 0.6rem;
    font-family: inherit;

    display: flex;
    justify-content: flex-end;
    margin-top: -20px;

    @media only screen and (min-width: $tablet) {
      font-size: 0.8rem;
    }
  }

  &__list-item a:link,
  &__list-item a:visited {
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
    border-radius: 35px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    transition: 0.4s;
  }

  &__list-item a:hover {
    background-color: rgba($tertiary, 0.3);
  }

  &__list-item--selected {
    background-color: $secondary !important;
    color: $white !important;
  }
}

@media only screen and (min-width: $tablet) {
  .line-chart {
    grid-column: main-start / main-end;
  }

  .bar-chart {
    grid-column: main-start / main-middle;
    border-right: $border-style;
  }

  .donut-chart {
    grid-column: main-middle / main-end;
  }
}
