.chart-container {
  position: relative;
  //   width: 80%;
  min-width: 300px;
  max-width: 400px;
}

.bar-chart__title,
.donut-chart__title,
.line-chart__title {
  padding: 0.5rem;
}

.bar-chart__chart {
  margin: 10px auto;
}

.donut-chart__chart {
  margin: 10px auto;
  margin-bottom: 20px;
}

.line-chart {
  &__chart {
    margin: 10px auto;
    margin-bottom: 20px;
  }

  &__time-options {
    list-style: none;
    font-size: 0.8rem;

    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    margin-top: -20px;
  }

  &__list-item {
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
  }

  &__list-item--selected {
    background-color: $secondary;
    color: $white;
    border-radius: 35px;
  }
}
