.header {
  padding: 0.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $primary;
  color: $white;

  &__title {
    & span {
      font-weight: 300;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  line-height: 2;

  font-weight: 300;
  height: 2rem;

  & :not(:last-child) {
    margin-right: 0.5rem;
  }

  &__notification {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;
  }

  &__bell {
    height: 1.3rem;
    width: 1.3rem;
  }

  &__dot {
    position: absolute;
    width: 6px;
    height: 6px;
    top: -4px;
    right: 6px;
    background-color: $tertiary;
    border-radius: 50%;
  }

  &__photo {
    display: flex;

    border-left: 1px solid $primary-dark;
    padding-left: 0.5rem;

    & img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  // &__name {
  // }
}
