.messages {
  padding: 1rem $gap;
  border-bottom: $border-style;

  display: flex;
  flex-direction: column;

  &__input {
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  position: relative;
  overflow: hidden;

  &__alert-window {
    position: absolute;
    top: 0;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $primary-light;
    color: $white;
    padding: 0.5rem;
    width: 90%;
    border-radius: 5px;
    transform: translateY(-110%) translateX(-50%);
    opacity: 1;
    transition: all 0.4s;

    &--show {
      transform: translateY(0) translateX(-50%);
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__search,
  &__message {
    font-family: inherit;
    border: 1px solid $grey-dark;
    padding: 0.5rem;
    border-radius: 5px;
  }

  &__search,
  &__message {
    background-color: $grey-light;
  }

  &__search::placeholder,
  &__message::placeholder {
    color: $grey-dark;
  }

  &__search {
    margin-bottom: 0.5rem;
  }

  &__message {
    resize: none;
  }

  &__btn {
    background-color: $primary;
    transition: 0.4s;
    margin: 1rem 0;
  }

  &__btn:hover {
    background-color: $primary-dark;
  }

  @media only screen and (min-width: $tablet) {
    grid-column: 1 / 2;
    border-right: $border-style;
    border-bottom: none;
  }
}
