.new-members {
  grid-column: main-start / main-end;

  padding: 1rem $small-gap;
  border-bottom: $border-style;

  &__title {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: $tablet) {
    grid-column: main-start / main-middle;
    border-right: $border-style;
    padding: 1rem $med-gap;
  }
}
