.notifications {
  @media only screen and (min-width: $tablet) {
    grid-column: 1 / -1;
  }

  background: $white;

  &__list {
    list-style-type: none;
  }

  &__item {
    padding: 0.5rem;
    // display: flex;
    display: none;
    align-items: center;
    transition: background-color 0.4s;

    &:hover {
      background-color: $grey-dark;
    }
  }

  &__title {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__message {
    flex: 1;
  }

  &__close {
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
