.recent-activity {
  @media only screen and (min-width: $tablet) {
    grid-column: 2 / 3;
  }

  padding: 1rem $gap;
  border-bottom: $border-style;

  &__title {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}
