.search {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $grey-light;
  border-top: $border-style;
  border-bottom: $border-style;
  padding: 1rem;

  &__container {
    border: 1px solid $grey-dark;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    background: $white;
    color: $grey-dark;
  }

  &__input,
  &__button {
    padding: 0.5rem;
    border: none;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: $text;
    min-width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;

    &::placeholder {
      color: $grey-dark;
    }

    &:focus::placeholder {
      color: $primary;
    }
  }

  &__button {
    background-color: $white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;

    transition: 0.4s;
  }

  &__button:hover,
  &__button:focus,
  &__button:active {
    background-color: $grey-dark;
  }

  &__mag-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: $primary;
    cursor: pointer;

    transition: color 0.4s;
  }

  &__button:hover &__mag-icon,
  &__button:focus &__mag-icon {
    color: $white;
  }
}
