.settings {
  padding: 1rem $small-gap;

  display: flex;
  flex-direction: column;

  &__input {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__switch {
    margin-bottom: 0.5rem;
  }

  &__cta {
    display: flex;
    margin: 1rem 0;
  }

  &__save {
    background-color: $primary;
    margin-right: 0.5rem;
    flex: 1;
    transition: 0.4s;
  }

  &__save:hover,
  &__save:active {
    background-color: $primary-dark;
  }

  &__cancel {
    background-color: $grey-dark;
    margin-left: 0.5rem;
    flex: 1;
    transition: 0.4s;
  }

  &__cancel:hover,
  &__cancel:active {
    background-color: darken($grey-dark, 30%);
  }

  @media only screen and (min-width: $tablet) {
    grid-column: main-middle / main-end;
    padding: 1rem $med-gap;
  }
}
