.sidebar {
  background: $primary-dark;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    transition: opacity 0.3s;

    &--selected,
    &:hover {
      opacity: 1;
    }

    &--selected::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $secondary;
    }
  }

  &__item-link {
    display: block;
    padding: 2rem;

    @media only screen and (min-width: $desktop) {
      padding: 1rem;
    }
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;

    @media only screen and (min-width: $desktop) {
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  @media only screen and (min-width: $tablet) {
    grid-column: 1 / -1;
  }

  @media only screen and (min-width: $desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 10;
    flex-direction: column;
    justify-content: flex-start;

    &__item--selected::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: $secondary;
    }
  }
}
