.sidebar {
  @media only screen and (min-width: $tablet) {
    grid-column: 1 / -1;
  }

  background: $primary-dark;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    transition: opacity 0.3s;

    &--selected,
    &:hover {
      opacity: 1;
    }
  }

  &__item-link {
    display: block;
    padding: 2rem;
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
  }
}

// &--selected:before {
//   position: absolute;
//   width: 100%;
//   height: 3px;
//   background-color: $secondary;
// }
