.social {
  display: flex;
  flex-direction: column;

  padding: 1rem $gap;
  border-bottom: $border-style;

  &__title {
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__box {
    flex: 0 0 12.5rem; // 200px / 16 = 12.5

    margin: 0.5rem;
    padding: 1rem;

    border: 2px solid $grey-dark;
    border-radius: $border-radius;
    background-color: $grey-light;

    display: flex;
  }

  &__icon {
    color: $primary;
    margin-right: 0.5rem;
    background-color: $primary;
    border-radius: 50%;
    height: 65px;
    width: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__twitter {
    height: 32px;
    width: 32px;
    margin-bottom: -5px;
  }

  &__facebook {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
  }

  &__google {
    height: 32px;
    width: 32px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__company {
    margin-bottom: -7px;
    color: $primary;
    font-weight: 700;
  }

  &__figure {
    font-size: 1.8rem;
    font-weight: 300;
  }

  @media only screen and (min-width: $tablet) {
    grid-column: main-start / main-end;

    &__container {
      justify-content: space-between;
    }

    &__box {
      flex: 1 0 12.5rem; // 200px / 16 = 12.5

      margin: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
